.background_app{
    -fx-background-color: #fff;
}

/* cajas de texto */
.text_app{
    -fx-background-color: #7f112f;
    -fx-text-fill: #fff;
    -fx-prompt-text-fill: #ffacdc;
    -fx-text-box-border: transparent;
    -fx-background-radius: 0;
    -fx-padding: 8;
    -fx-font-size:14px;
    -fx-alignment: CENTER;
    -fx-border-radius: 6;
    -fx-background-radius: 6;
}

.text_app:focused {
    -fx-text-fill: #7f112f;
    -fx-background-color: #ffacdc;
}

/*boton de inicio de sesion*/
.button_app{
    -fx-background-color: #ffacdc;
    -fx-border-radius: 46;
    -fx-background-radius: 46;
    -fx-text-fill: #7f112f;
    -fx-alignment: CENTER;
}

/**etiqueta de inicio de sesion*/
.textb_app{
    -fx-text-fill: #7f112f;
    -fx-font-size:16px;
    -fx-font-weight: bold;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 0,0,0,1 );
}

/**etiqueta ¿no puede...*/
.textnp_app{
    -fx-text-fill: #fff;
    -fx-font-size:12px;
    -fx-font-weight: normal;
}

/*etiqueta de error*/
.texterr_app{
    -fx-text-fill: #a53b3f;
    -fx-font-size:12px;
    -fx-font-style:italic;
}